<!DOCTYPE html>
<html>
  <head>
    <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../../stylesheets/main.css">
    </head>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
    <div class="m-all t-all d-allshow-park row clearfix">   
        <div class="intro col">
        <h3><a href="/">Back to Skatepark List</a></h3>
        <h1>Park Detail</h1>
        </div>
        <div class="park-info m-all t-all d-1of2">
        <ul>
            <li>
              <span class="label">Name: </span><span><%= park.name %></span>
            </li>
            <li>
              <span class="label">Street: </span><span><%= park.street %></span>
            </li>
            <li>
              <span class="label">Town: </span><span><%= park.town %></span>
            </li>
            <li>
              <span class="label">State: </span><span><%= park.state %></span>
            </li>
            <li>
              <span class="label">County: </span><span><%= park.county %></span>
            </li>
            <li>
              <span class="label">Hours: </span><span><%= park.hours %></span>
            </li>
             <li>
              <span class="label">Hemlets: </span><span><%= park.helmets %></span>
            </li>
            <li>
              <span class="label">Description: </span><span><%= park.description %></span>
            </li>
            <li>
            <div class="img-container">
              <span>Images: </span>
              <!-- loop over imgs and display -->
                <% if(Object.keys(park.imgs).length > 0) { %>
                <ul>
                  <% Object.keys(park.imgs).forEach(function(key) {
                      %> <li id=""><a href="https://s3.amazonaws.com/maskate/<%= park.imgs[key] %>"><img src= "https://s3.amazonaws.com/maskate/<%= park.imgs[key] %>" /></a></li> 
                  <% });%>
                  
                </ul>
                  <% } %>
              </div>
            </li>
        </ul>
        </div>
        <!-- google maps -->
        <div class="m-all t-all d-1of2 map-container">
            <h2>All Parks</h2>
            <div id="map"></div>
        </div>
    </div>
    </main>
    <footer class="m-all t-all d-all">
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
        <% var parkLocs = JSON.stringify(park) %>
        <input type="hidden" value="<%= parkLocs %>"" id="parkLocs">
    </footer>
    <% include ../partials/scripts %>
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </body>
</html>